.topbar {
  display: flex;
  align-items: center;
}

.user-menu {
  position: relative;
}

.user-menu .menu {
  position: absolute;
  right: 0;
  top: 2rem;
}

.user-menu .menu li {
  margin: 0.25rem 0;
}
